@font-face {
  font-family: "Navbar";
  src: url("../../../assets/fonts/emulogic-font/Emulogic-zrEw.ttf");
}

.navbar {
  background-color: #141414 !important; /* Sfondo nero */
  border-bottom: 2px solid #fff; /* Bordo bianco sotto la navbar */
  padding: 10px;
}

.navbar .navbar-nav .nav-link {
  color: #fff; /* Colore bianco per i link */
  font-family: "Navbar", cursive;
  transition: color 0.3s, border-color 0.3s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: #ff0; /* Colore giallo per hover e focus */
  border-bottom: 2px solid #ff0; /* Bordo giallo sotto il link */
}

.navbar .navbar-nav .nav-link.active {
  color: #ff0; /* Colore giallo per il link attivo */
  border-bottom: 2px solid #ff0; /* Bordo giallo sotto il link attivo */
}

.navbar .logo {
  width: 150px;
  height: auto;
  transition: transform 0.3s, border-color 0.3s;
}

.navbar .logo:hover,
.navbar .logo:focus {
  transform: scale(
    1.1
  ); /* Ingrandisce leggermente il logo al passaggio del mouse */
}

.collapse.navbar-collapse {
  justify-content: flex-end;
}

.container-fluid {
  padding: 0;
}

ul li:last-of-type {
  top: 1.6em;
  right: 2em;
  a {
    color: white;
    &:hover {
      color: #ff0;
    }
    span {
      left: 110%;
      top: 5px;
      font-size: small;
    }
  }
}
.me-personal {
  margin-right: 5rem !important;
}

.img-thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 0; /* Bordo squadrato per look retrò */
  border: 2px solid #fff;
  transition: transform 0.3s, border-color 0.3s;
}

.personal-border {
  border: 1px solid white !important;
  padding: 1px;
}

.nav-link-personal {
  font-family: "Navbar";
  color: white;
}

.personal-border:hover {
  border: 1px solid #ff0 !important;
}
.btn-personal {
  font-family: "Navbar";
  color: white;
  border: none !important;
}

.bg-personal {
  background-color: #141414;
}

.bg-personal:hover {
  background-color: #ff0;
}
.bg-personal:hover .nav-link-personal {
  color: #141414 !important;
}
