@font-face {
  font-family: "Navbar";
  src: url("../../../assets/fonts/emulogic-font/Emulogic-zrEw.ttf");
}

.navbar {
  background-color: #141414 !important; /* Sfondo nero */
  border-bottom: 2px solid #fff; /* Bordo bianco sotto la navbar */
  padding: 10px;
}

.navbar .navbar-nav .nav-link {
  color: #fff; /* Colore bianco per i link */
  font-family: "Navbar", cursive;
  transition: color 0.3s, border-color 0.3s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: #ff0; /* Colore giallo per hover e focus */
  border-bottom: 2px solid #ff0; /* Bordo giallo sotto il link */
}

.navbar .navbar-nav .nav-link.active {
  color: #ff0; /* Colore giallo per il link attivo */
  border-bottom: 2px solid #ff0; /* Bordo giallo sotto il link attivo */
}

.navbar .logo {
  width: 150px;
  height: auto;
  transition: transform 0.3s, border-color 0.3s;
}

.navbar .logo:hover,
.navbar .logo:focus {
  transform: scale(
    1.1
  ); /* Ingrandisce leggermente il logo al passaggio del mouse */
}

.collapse.navbar-collapse {
  justify-content: flex-end;
}

.container-fluid {
  padding: 0;
}

ul li:last-of-type {
  top: 1em;
  right: 2em;
  span {
    left: 120%;
    top: 1px;
    font-size: small;
    cursor: pointer;
    &:hover {
      color: #ff0;
    }
  }
}
