<footer class="container-fluid retro-footer">
  <div class="row justify-content-center">
    <div class="col-6 text-light">
      <div class="d-flex justify-content-center my-2">
        <a href="#" class="mx-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="mx-2"><i class="bi bi-instagram"></i></a>
        <a href="#" class="mx-2"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="mx-2"><i class="bi bi-youtube"></i></a>
      </div>
      <div class="row d-none d-md-flex my- fontsize">
        <div class="col">
          <p><a href="#" class="retro-link">Audio and Subtitles</a></p>
          <p><a href="#" class="retro-link">Media Center</a></p>
          <p><a href="#" class="retro-link">Privacy</a></p>
          <p class="mb-4"><a href="#" class="retro-link">Contact Us</a></p>
          <button type="button" class="btn btn-outline-light retro-btn sizebtn">Service Code</button>
        </div>
        <div class="col mx-3">
          <p><a href="#" class="retro-link">Audio Description</a></p>
          <p><a href="#" class="retro-link">Investor Relations</a></p>
          <p><a href="#" class="retro-link">Legal Notices</a></p>
        </div>
        <div class="col mx-3"> 
          <p><a href="#" class="retro-link">Help Center</a></p>
          <p><a href="#" class="retro-link">Jobs</a></p>
          <p><a href="#" class="retro-link">Cookie Preferences</a></p>
        </div>
        <div class="col mx-3"> 
          <p><a href="#" class="retro-link">Gift Cards</a></p>
          <p><a href="#" class="retro-link">Terms of Use</a></p>
          <p><a href="#" class="retro-link">Corporate Information</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col mt-2 h6">© 1997-2024 Retrocast , inc.</div>
      </div>
    </div>
  </div>
</footer>
