@font-face {
  font-family: OldGames;
  src: url(../../../assets/fonts/emulogic-font/Emulogic-zrEw.ttf);
  }

.retro-footer {
  background-color: #000; 
  color: #fff; 
  padding-top: 3rem; 
  font-family: 'OldGames'; 
  border-top: 2px solid white;
  border-bottom: 4px solid black;
}
.fontsize{
  font-size: 0.7em;
}
.retro-footer a {
  color: #fff; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.retro-footer a:hover {
  color: #e9e50a; 
}

.retro-btn {
  background-color: #fff; 
  color: #000; 
  font-size: 13px;
}

.retro-btn:hover {
  background-color: #000; 
  color: #fff; 
}

.retro-link {
  font-weight: bold; 
}