<footer class="pt-3 bg-info">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-6 text-dark">
        <div class="row d-block my-2">
          <span
            ><a href="#"><i class="bi bi-facebook"></i></a
          ></span>
          <span
            ><a href="#"><i class="bi bi-instagram"></i></a
          ></span>
          <span
            ><a href="#"><i class="bi bi-twitter-x"></i></a
          ></span>
          <span
            ><a href="#"><i class="bi bi-youtube"></i></a
          ></span>
        </div>
        <div class="row d-none d-md-flex my-3">
          <div class="col">
            <p>
              <a href="#">Audio and Subtitles</a>
            </p>
            <p>
              <a href="#">Media Center</a>
            </p>
            <p>
              <a href="#">Privacy</a>
            </p>
            <p class="mb-4">
              <a href="#">Contact Us</a>
            </p>
            <button type="button" class="btn btn-outline-light">
              Service Code
            </button>
          </div>
          <div class="col">
            <p>
              <a href="#">Audio Description</a>
            </p>
            <p>
              <a href="#">Investor Relations</a>
            </p>
            <p>
              <a href="#">Legal Notices</a>
            </p>
          </div>
          <div class="col">
            <p>
              <a href="#">Help Center</a>
            </p>
            <p>
              <a href="#">Jobs</a>
            </p>
            <p>
              <a href="#">Cookie Preferences</a>
            </p>
          </div>
          <div class="col">
            <p>
              <a href="#">Gift Cards</a>
            </p>
            <p>
              <a href="#">Terms of Use</a>
            </p>
            <p>
              <a href="#">Corporate Information</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col mt-2 h6">© 1997-2024 Retrocast , inc.</div>
        </div>
      </div>
    </div>
  </div>
</footer>
