<div class="container">
  <div class="tic-tac-toe">
    <h1 class="custom-text pt-5">Tic Tac Toe</h1>
    <div class="board">
      <div *ngFor="let row of board; let rowIndex = index" class="row">
        <div
          *ngFor="let cell of row; let colIndex = index"
          class="cell text-light"
          (click)="makeMove(rowIndex, colIndex)"
        >
          {{ cell }}
        </div>
      </div>
    </div>
    <div *ngIf="winner" class="winner">
      <p class="custom-text">Player {{ winner }} wins!</p>
      <button (click)="resetGame()" class="custom-button my-4">
        Play Again
      </button>
    </div>
  </div>
</div>
