@font-face {
  font-family: "OldGame";
  src: url("../../../assets/fonts/emulogic-font/Emulogic-zrEw.ttf");
}

.container {
  min-height: 59vh;
}

.tic-tac-toe {
  text-align: center;
  font-family: Arial, sans-serif;

  .board {
    display: inline-block;
    margin: 20px auto;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;

    .row {
      display: flex;

      .cell {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #333;
        font-size: 24px;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }

  .winner {
    margin-top: 20px;

    p {
      font-size: 18px;
      margin: 10px 0;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.custom-text {
  font-family: "OldGame";
  font-size: 1.5rem;
  color: #31d1f1;
  text-align: center;
}

.cell {
  font-family: "OldGame";
}

.custom-button {
  background-color: #000;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  font-family: "OldGame";
  font-size: 1rem;
  border-radius: 0;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  &:hover {
    background-color: #fff;
    color: #000;
    border-color: #ff0; /* Colore giallo per hover e focus */
  }
}
