<div class="container mb-5">
  <nav class="navbar bg-transparent justify-content-center">
    <img
      src="../../../assets/imgs/retrocast-logo-zip-file/png/logo-no-background.png"
      alt="imgLogo"
      class="w-25 mb-5"
    />
    <form class="container-fluid justify-content-center">
      <a class="text-decoration-none me-2 personal-font fs-6" type="button"
        >Platform</a
      >
      <a class="text-decoration-none me-2 personal-font fs-6" type="button"
        >Year</a
      >
      <a class="text-decoration-none me-2 personal-font fs-6" type="button"
        >Genre</a
      >
    </form>
  </nav>
  <div class="row">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="" class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

