<div class="container mb-5">
  <nav class="navbar bg-transparent justify-content-center">
    <img
      src="../../../assets/imgs/retrocast-logo-zip-file/png/logo-no-background.png"
      alt="imgLogo"
      class="w-25 mb-5"
    />
    <form class="container-fluid justify-content-center">
      <a class="text-decoration-none me-2 personal-font fs-6" type="button"
        >Platform</a
      >
      <a class="text-decoration-none me-2 personal-font fs-6" type="button"
        >Year</a
      >
      <a class="text-decoration-none me-2 personal-font fs-6" type="button"
        >Genre</a
      >
    </form>
  </nav>
</div>
<div class="container w-50">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www.minecraft.net/content/dam/games/minecraft/key-art/Vanilla-PMP_Collection-Carousel-0_Trails-and-Tales_1280x768.jpg" class="d-block w-100" alt="" />
        </div>
        <div class="carousel-item">
          <img src="https://i.ytimg.com/vi/aX4fIoo8Pd4/maxresdefault.jpg" class="d-block w-100" alt="" />
        </div>
        <div class="carousel-item">
          <img src="" class="d-block w-100" alt="" />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
