<!-- home.component.html -->
<div class="container mb-5">
  <div class="personal-p mb-4">
    <nav class="navbar bg-transparent justify-content-center">
      <img
        src="../../../assets/imgs/retrocast-logo-zip-file/png/logo-no-background.png"
        alt="imgLogo"
        class="w-25 mb-5"
      />
      <form class="container-fluid justify-content-center gap-4">
        <a
          class="text-decoration-none personal-font fs-6"
          (click)="showForm('platform')"
          [ngClass]="{ 'active-link': activeFilter === 'platform' }"
          type="button"
          >Platform</a
        >
        <a
          class="text-decoration-none personal-font fs-6"
          (click)="showForm('year')"
          [ngClass]="{ 'active-link': activeFilter === 'year' }"
          type="button"
          >Year</a
        >
        <a
          class="text-decoration-none personal-font fs-6"
          (click)="showForm('genre')"
          [ngClass]="{ 'active-link': activeFilter === 'genre' }"
          type="button"
          >Genre</a
        >
      </form>
    </nav>
    <section
      class="d-flex flex-column justify-content-center align-items-center my-5"
    >
      <h1 class="personal-fontDue">RetroCast story:</h1>
      <p class="personal-fontTre mt-4">
        Esplora l'affascinante mondo dei giochi vintage su RetroGames Haven, il
        tuo portale definitivo per rivivere le emozioni dei giochi del passato.
        Dalle leggendarie console degli anni '80 e '90 ai classici arcade che
        hanno definito un'epoca, qui troverai tutto ciò che riguarda il gaming
        nostalgico. Scopri recensioni dettagliate, storie dei giochi che hanno
        fatto la storia e guide su come restaurare e mantenere le tue vecchie
        console. Unisciti alla nostra community di appassionati per condividere
        ricordi e scoprire gemme nascoste che hanno segnato l'infanzia di tanti.
        Rivivi il passato, gioca al presente e colleziona per il futuro con
        RetroGames Haven!
      </p>
    </section>
  </div>

  <div class="mb-4">
    <input type="text" [(ngModel)]="searchTerm" (input)="filterByName()" placeholder="Search by name" class="form-control"/>
  </div>

  <div *ngIf="activeFilter === 'platform'" class="filter-form mb-2">
    <h3 class="text-light personal-fontQuattro">Filter by Platform</h3>
    <button
      class="btn btn-outline-light my-1 me-1"
      (click)="filterByPlatform('Windows XP')"
      type="button"
      [ngClass]="{'active-button': selectedPlatform === 'Windows XP'}">


      Windows XP
    </button>
    <button
      class="btn btn-outline-light my-1 me-1"
      (click)="filterByPlatform('Windows Vista')"
      type="button"
      [ngClass]="{'active-button': selectedPlatform === 'Windows Vista'}">

      Windows Vista
    </button>
    <button
      class="btn btn-outline-light my-1 me-1"
      (click)="filterByPlatform('Windows 7')"
      type="button"
      [ngClass]="{'active-button': selectedPlatform === 'Windows 7'}">


      Windows 7
    </button>
    <button
      class="btn btn-outline-light my-1 me-1"
      type="button"
      (click)="hideForm()"
    >
      Close
    </button>
    <button
      class="btn btn-outline-light my-1 me-1"
      type="button"
      (click)="showAllGames()"
    >
      Show All
    </button>
  </div>

  <div *ngIf="activeFilter === 'year'" class="filter-form">
    <h3>Filter by Year</h3>
    <button (click)="filterByYear(1997, 1999)" type="button">1997-1999</button>
    <button (click)="filterByYear(2000, 2005)" type="button">2000-2005</button>
    <button (click)="filterByYear(2005, 2010)" type="button">2005-2010</button>
    <button (click)="filterByYear(2010, 2015)" type="button">2010-2015</button>
    <button type="button" (click)="hideForm()">Close</button>
    <button type="button" (click)="showAllGames()">Show All</button>
  </div>

  <div *ngIf="activeFilter === 'genre'" class="filter-form">
    <h3>Filter by Genre</h3>
    <button (click)="filterByGenre('Action RPG')" type="button">
      Action RPG
    </button>
    <button (click)="filterByGenre('First-Person Shooter')" type="button">
      First-Person Shooter
    </button>
    <button (click)="filterByGenre('Action-Adventure')" type="button">
      Action-Adventure
    </button>
    <button (click)="filterByGenre('Real-Time Strategy')" type="button">
      Real-Time Strategy
    </button>
    <button type="button" (click)="hideForm()">Close</button>
    <button type="button" (click)="showAllGames()">Show All</button>
  </div>

  <div class="row justify-content-center">
    <div
      class="card mb-3 me-2"
      style="max-width: 540px"
      *ngFor="let game of filteredGameList"
    >
      <div class="row g-0">
        <div class="col-md-4">
          <img [src]="game.gameImg" class="img-fluid rounded-start" alt="" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ game.Title }}</h5>
            <p class="card-text">{{ game.plot }}</p>
            <p class="card-text">{{ game.year }}</p>
            <p class="card-text">{{ game.sysRequirement }}</p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
