@font-face {
  font-family: OldGame;
  src: url(../../../assets/fonts/emulogic-font/Emulogic-zrEw.ttf);
  }

@font-face{
  font-family:VintageFont;
  src: url(../../../assets/fonts/logos_font/retrocast-brand-zip-file/Sixtyfour.ttf);
}
@font-face{
  font-family:ThirdFont;
  src: url(../../../assets/fonts/planet-joust-font/PlanetJoust-w1Kv6.otf);
}

.personal-font{
  font-family: OldGame;
  color: white;
  border:5px solid white;
  padding: 0.5em;
}

.personal-font:hover{
  color: #FFDC00;
  transition: 0.1s;
}


.personal-fontDue{
  font-family: OldGame;
  color: white;
}
.personal-fontTre{
  font-family: VintageFont;
  color: white;
}

.personal-fontQuattro{
  font-family: ThirdFont;
}

.personal-p{
  border:5px solid white;
}

.active-link{
  color: #FFDC00;
}
.active-button{
  background-color: white !important;
  color: black !important;
}

.input-personal{
  border-radius: 10px;
}
