@font-face {
    font-family: 'OldGame';
    src: url('../../../assets/fonts/emulogic-font/Emulogic-zrEw.ttf');
  }
  
  body {
    background-color: #000;
    color: #fff;
    font-family: 'OldGame', cursive; /* Font retrò */
  }
  
  .quiz-card {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff; /* Colore bianco per i bordi */
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5); /* Ombra bianca */
    text-align: center;
  }
  
  .quiz-card h2 {
    font-family: 'OldGame', cursive;
    font-size: 1.5rem; /* Dimensione font per un aspetto retrò */
    margin-bottom: 1.5rem;
    color: #fff;
  }
  
  .quiz-card .btn {
    background-color: #000;
    border: 2px solid #fff;
    color: #fff;
    padding: 0.5rem 1rem;
    font-family: 'OldGame', cursive;
    font-size: 1rem; /* Dimensione font per un aspetto retrò */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 0; /* Bordo squadrato per look retrò */
  }
  
  .quiz-card .btn:hover,
  .quiz-card .btn:focus {
    background-color: #fff;
    color: #000;
    border-color: #ff0; /* Colore giallo per hover e focus */
  }
  
  .quiz-list-container {
    padding: 20px;
  }
  
  @media (max-width: 767px) {
    .quiz-card {
      margin-bottom: 20px;
    }
  }
  