@font-face {
  font-family: "personalFont";
  src: url("../../../assets/fonts/emulogic-font/Emulogic-zrEw.ttf");
}

/* src/app/character/character.component.css */
.container {
  display: flex;
  flex-direction: column;
  /* Aggiunto per supportare la modalità di visualizzazione */
  align-items: center;
}

.character-preview {
  position: relative;
  width: 200px;
  height: 400px;
  margin-bottom: 4px;
  /* Aggiunto per spazio tra anteprima e pulsanti */
}

.character-preview img {
  position: absolute;
}

.face {
  top: 13%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  z-index: 2;
}

.body {
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  width: 100px;
}

.arm-left {
  top: 45%;
  left: 5%;
  width: 50px;
  transform: translateY(-50%) scaleX(-1);
}

.arm-right {
  top: 45%;
  right: 5%;
  width: 50px;
  transform: translateY(-50%);
}

.leg-left {
  top: 63%;
  left: 25%;
  width: 40px;
  transform: translateY(-50%) scaleX(-1);
}

.leg-right {
  top: 63%;
  right: 25%;
  width: 40px;
  transform: translateY(-50%);
}

.character-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.selection img {
  margin: 0 10px;
  width: 100px;
  height: 100px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

.personalFont {
  font-family: 'personalFont';
  color: white;
}

.character-final {
  display: flex;
  flex-direction: column;
  align-items: center;
}
