/* src/app/character/character.component.css */
.container {
    display: flex;
  }
  
  .character-preview {
    position: relative;
    width: 200px;
    height: 400px;
    margin-right: 20px;
  }
  
  .character-preview img {
    position: absolute;
  }
  
  .face {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .body {
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .arm-left {
    top: 30%;
    left: 5%;
    width: 40px;
    transform: translateY(-50%) scaleX(-1); /* Riflette l'immagine per il braccio sinistro */
  }
  
  .arm-right {
    top: 30%;
    right: 5%;
    width: 40px;
    transform: translateY(-50%);
  }
  
  .leg-left {
    top: 70%;
    left: 25%;
    width: 40px;
    transform: translateY(-50%) scaleX(-1); /* Riflette l'immagine per la gamba sinistra */
  }
  
  .leg-right {
    top: 70%;
    right: 25%;
    width: 40px;
    transform: translateY(-50%);
  }
  
  .character-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .selection {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .selection img {
    margin: 0 10px;
    width: 100px;
    height: 100px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
    outline: none;
  }
  