@font-face {
  font-family: "OldGame";
  src: url("../../../assets/fonts/emulogic-font/Emulogic-zrEw.ttf");
}

body {
  background-color: #000;
  color: #fff;
  font-family: "OldGame", cursive;
  overflow: hidden;
}

.container {
  min-height: 69vh;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  padding: 2rem;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

h2,
h3 {
  font-family: "OldGame", cursive;
  color: #fff;
}

p {
  font-family: "OldGame", cursive;
  color: #fff;
}

button {
  background-color: #000;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover,
button:focus {
  background-color: #fff;
  color: #000;
  border-color: #ff0;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.options button {
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  padding: 10px;
  font-family: "OldGame", cursive;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.options button:hover,
.options button:focus {
  background-color: #fff;
  color: #000;
  border-color: #ff0;
}

.options button.selected {
  background-color: #fff;
  color: #000;
  border-color: #ff0;
}
