<div class="personal-p mb-4">
  <nav class="navbar bg-transparent justify-content-center">
    <img
      src="../../../assets/imgs/retrocast-logo-zip-file/png/logo-no-background.png"
      alt="imgLogo"
      class="w-25 mb-5"
    />
  </nav>
  <div class="container d-flex justify-content-center gap-4">
    <div class="row">
      <div class="col-4">
        <div class="card bg-personal mb-4" style="width: 18rem">
          <img
            src="https://www.coolmathgames.com/sites/default/files/styles/blog_node_image/public/2021-03/how%20to%20play%20retroo%20pong%20thumb.jpg?itok=Bu0KGHkS"
            class="card-img-top"
            alt="imgPingPong"
          />
          <div class="card-body">
            <h5 class="card-title personal-font">Ping Pong</h5>
            <p class="card-text personal-fontTre">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a routerLink="/pingpong" class="btn btn-personal personal-fontTre">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card bg-personal mb-4" style="width: 18rem">
          <img
            src="https://www.coolmathgames.com/sites/default/files/styles/blog_node_image/public/2021-03/how%20to%20play%20retroo%20pong%20thumb.jpg?itok=Bu0KGHkS"
            class="card-img-top"
            alt="imgPingPong"
          />
          <div class="card-body">
            <h5 class="card-title personal-font">Ping Pong</h5>
            <p class="card-text personal-fontTre">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a routerLink="/pingpong" class="btn btn-personal personal-fontTre">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card bg-personal mb-4" style="width: 18rem">
          <img
            src="https://www.coolmathgames.com/sites/default/files/styles/blog_node_image/public/2021-03/how%20to%20play%20retroo%20pong%20thumb.jpg?itok=Bu0KGHkS"
            class="card-img-top"
            alt="imgPingPong"
          />
          <div class="card-body">
            <h5 class="card-title personal-font">Ping Pong</h5>
            <p class="card-text personal-fontTre">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a routerLink="/pingpong" class="btn btn-personal personal-fontTre">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
