<div class="personal-p">
  <nav class="navbar bg-transparent justify-content-center">
    <img
      src="../../../assets/imgs/retrocast-logo-zip-file/png/logo-no-background.png"
      alt="imgLogo"
      class="w-25 mb-5"
    />
  </nav>
  <div class="container d-flex justify-content-center gap-4">
    <div class="row">
      <div class="col-4">
        <div class="card bg-personal mb-4" style="width: 18rem">
          <img
            src="https://i.imgur.com/lY0ubcJ.jpg"
            class="card-img-top"
            alt="imgPingPong"
          />
          <div class="card-body">
            <h5 class="card-title personal-font">Pacman</h5>
            <p class="card-text personal-fontTre">
              Pac-Man, originariamente noto come Puck-Man in Giappone, è un
              videogioco ideato da Tōru Iwatani e prodotto dalla Namco nel 1980
              nel formato arcade da sala. In Occidente fu pubblicato in licenza
              dalla Midway Games.
            </p>
            <a routerLink="/pacman" class="btn btn-personal personal-fontTre"
              >Gioca</a
            >
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card bg-personal mb-4" style="width: 18rem">
          <img
            src="https://www.coolmathgames.com/sites/default/files/RetroPingPong_OG-logo.jpg"
            class="card-img-top"
            alt="imgPingPong"
          />
          <div class="card-body">
            <h5 class="card-title personal-font">Ping Pong</h5>
            <p class="card-text personal-fontTre">
              Pong (stilizzato PONG) è uno dei primi videogiochi
              commercializzati, prodotto dalla Atari come arcade nel 1972 e come
              console dedicata nel 1975. Ė un simulatore di ping-pong (da cui il
              nome "PONG"), dalla grafica estremamente semplificata in bianco e
              nero.
            </p>
            <a routerLink="/pingpong" class="btn btn-personal personal-fontTre"
              >Gioca</a
            >
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card bg-personal mb-4" style="width: 18rem">
          <img
            src="https://www.coolmathgames.com/sites/default/files/Snake_OG-logo.jpg"
            class="card-img-top"
            alt="imgPingPong"
          />
          <div class="card-body">
            <h5 class="card-title personal-font">Snake</h5>
            <p class="card-text personal-fontTre text-truncate">
              Snake è un videogioco presente in molti telefonini, in particolare
              quelli prodotti dalla Nokia. Le sue origini risalgono agli anni
              settanta, con il videogioco arcade Blockade; da allora è stato
              prodotto in numerose piattaforme e varianti, fino a ritrovare
              nuova fama negli anni novanta grazie ai cellulari.
            </p>
            <a routerLink="/pingpong" class="btn btn-personal personal-fontTre"
              >Gioca</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
